.header-text{
    /* Building Blocks */
    
    
    position: absolute;
    width: 199px;
    height: 15px;
    left: 231px;
    top: 160px;
    
    /* headline/small */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    
    
    color: #000000;
}

.card-container{
/* Rectangle 218 */



position: absolute;
width: 567px;
height: 318px;
left: 76px;
top: 228px;

background: rgba(255, 255, 255, 0.2);
border: 1px solid #F1F1FF;
box-sizing: border-box;
border-radius: 10px;
}


.button-true{
    /* Button=True */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 40px;
    
    position: absolute;
    width: 567px;
    height: 318px;
    left: 20px;
    top: 30px;
}
.contents{
    /* Contents */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 487px;
    height: 148px;
    left: 40px;
    top: 136px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}

.icon {
    /* immersive interactions 1 */


    position: static;
    width: 89px;
    height: 89px;
    left: 40px;
    top: 34px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 13px 0px;
}
.cta{
    /* CTA */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    
    position: static;
    width: 487px;
    height: 85px;
    left: 0px;
    top: 88px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
}
.text-cont{
    /* Text */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 313px;
    height: 68px;
    left: 0px;
    top: 0px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
}

.state{
    /* State */
    
    
    position: static;
    width: 313px;
    height: 25px;
    left: 0px;
    top: 0px;
    
    /* title/medium */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    letter-spacing: 0.1px;
    
    /* invicta/sys/on-surface */
    
    color: #1C1B1E;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.descriptive-text{
    /* Descriptive text */
    
    
    position: static;
    width: 313px;
    height: 20px;
    left: 0px;
    top: 25px;
    
    /* body/medium */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    
    /* /hm/neutral/light/Neutral70 */
    
    color: #9FA6B4;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}
.button-comp{
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
    position: absolute;
    width: 105px;
    height: 40px;
    background: #052766;
    top:320px;
    border-radius: 100px;


    position: static;
  
    left: calc(50% - 41px/2);
    top: calc(50% - 20px/2);
    /* button */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    text-align: center;
    letter-spacing: 0.1px;
    
    /* /invicta/sys/on-secondary */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.link-text{
    /* Link */
    
    
    position: static;
    width: 247px;
    height: 25px;
    left: 240px;
    top: 60px;
    
    /* body/medium */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    letter-spacing: 0.25px;
    
    /* invicta/primary/Primary30 */
    
    color: #127FC0;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}
.text-false{
    /* Text */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 487px;
    height: 140px;
    left: 40px;
    top: 140px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 13px 0px;
}
.link-false-text{
    /* Link */
    
    
    position: static;
    width: 247px;
    height: 25px;
    left: 0px;
    top: 0px;
    
    /* body/medium */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    letter-spacing: 0.25px;
    
    /* invicta/primary/Primary30 */
    
    color: #127FC0;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}