.data-indicator {
   
   display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    
}

.data-indicator.increase-good {
    background: url("../icons/increasegood.svg") no-repeat;
    
}
.data-indicator.increase-bad {
    background: url("../icons/increasebad.svg") no-repeat;

}.data-indicator.increase-neutral {
    background: url("../icons//increaseneutral.svg") no-repeat;
  

}
.data-indicator.decrease-good {
    background: url("../icons/decreasegood.svg") no-repeat;
  
}

.data-indicator.decrease-bad {
    background: url("../icons/decreasebad.svg") no-repeat;

}

.data-indicator.decrease-neutral {
    background: url("../icons/decreaseneutral.svg") no-repeat;


}
.data-indicator.status-good {
    background: url("../icons/statusgood.svg") no-repeat;

}
.data-indicator.status-bad {
    background: url("../icons/statusbad.svg") no-repeat;

}
.data-indicator.status-neutral {
    background: url("../icons/statusneutral.svg") no-repeat;

}
.data-indicator.none-good {
    background: url("../icons/nonegood.svg") no-repeat;

}
.data-indicator.none-bad {
    background: url("../icons/nonebad.svg") no-repeat;

}
.data-indicator.none-neutral {
    background: url("../icons/noneneutral.svg") no-repeat;

}

.card-value{
    display: inline-block;
   width: 150px;
   height: 200px;
    position: relative;
}
.card-value.skeletondvu {
    background: url("../icons/dvu.svg") no-repeat;

}
.card-value.skeletondv {
    background: url("../icons/dv.svg") no-repeat;

}
.card-value.skeletonvu {
    background: url("../icons/vu.svg") no-repeat;

}


.enabled-cont{
    /* Type=Value, Syntax=Determiner + Value + Unit, State=Enabled */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 9px 2px;
    /* title/large */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 127% */
    
    
    /* invicta/sys/on-surface */
    
    color: #1C1B1E;
    position: absolute;
    width: 230px;
    height: 54px;
    left: 20px;
    top: 20px;
}
.value-cont{
font-family: 'Sofia Pro';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 36px;
/* identical to box height, or 129% */


/* invicta/sys/on-surface */

color: #1C1B1E;
}

.description-indicator{
    display: inline-block;
   
    position: relative;
  
    width: 129px;
    height: 21px;
    left: 17px;
    top: 150px;
}

.description-good{
    /* an increase of x% */
    
    
    position: absolute;
    left: 0%;
    right: 10.08%;
    top: 0%;
    bottom: 4.76%;
    
    /* body/medium, emphasis */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    letter-spacing: 0.25px;
    
    /* hm/intents/light/good */
    
    color: #00B53F;
}
.description-bad {
    position: absolute;
    left: 0%;
    right: 10.08%;
    top: 0%;
    bottom: 4.76%;
    
    /* body/medium, emphasis */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    letter-spacing: 0.25px;
    
    /* /hm/intents/light/bad */
    
    color: #FF162C;
}
.description-neutral {
    position: absolute;
    left: 0%;
    right: 10.08%;
    top: 0%;
    bottom: 4.76%;
    
    /* body/medium, emphasis */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    letter-spacing: 0.25px;
    
    /* hm/intents/light/neutral-variant */
    
    color: #434049;
}