.container{
    /* Rectangle 218 */
    
    
    position: absolute;
    width: 368px;
    height: 680px;
    left: 4px;
    top: 4px;
    
    /* hm cool grey */
    
    border: 1px solid #9FA6B4;
    box-sizing: border-box;
}

.header{
    /* Rectangle 222 */
    
    
    position: absolute;
    width: 367px;
    height: 50px;
    left:-1px;
    top: -1px;
    
    background: #00B0F0;
    border-radius: 10px 10px 0px 0px;
}
.header img{
    /* Vector */
    
    
    position: absolute;
    width: 20px;
    height: 20px;
    left: 36px;
    top: 20px;
    
    
}

.header p{
    /* a card title in 18px, SemiBold */
    
    
    position: absolute;
    width: 239px;
    height: 18px;
    left: 79px;
    top: 2px;
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.text-header{
    /* Rectangle 248 */
    
    
    position: absolute;
    width: 367px;
    height: 100px;
    left: 0px;
    top: 49px;
    
    background: rgba(255, 0, 0, 0.15);
    
}
.text-header p{
    /* more detailed explanation matching the card body in 14px */
    
    
    position: absolute;
    width: 317px;
    height: 62px;
    left: 30px;
    top: 5px;
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    /* or 164% */
    
    letter-spacing: 0.02em;
    
    /* true black */
    
    color: #000000;
}
.tabs-container{
    /* tabs */
    
    
    position: absolute;
    width: 325px;
    height: 40px;
    left: 30px;
    top: 139px;
    
}

.hour-container{
position: absolute;
height: 40px;
left: 8%;
right: 74.67%;
font-family: 'Sofia Pro';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 15px;
cursor: pointer;
color: #021434;

background: rgba(230, 232, 235, 0.5);
}
.hour-container:hover{
    background:rgba(0, 176, 240, 0.15); 
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    
    color: #00B0F0;
}
.day-container{
    /* hover over */
    
    
    position: absolute;
    height: 40px;
    left: 25.33%;
    right: 57.33%;
font-family: 'Sofia Pro';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 15px;
cursor: pointer;
color: #021434;
    
    background: rgba(230, 232, 235, 0.5);
}
.day-container:hover {
    background: rgba(0, 176, 240, 0.15);
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    
    color: #00B0F0;
}
.week-container{
    /* hover over */
    
    
    position: absolute;
    height: 40px;
    left: 42.67%;
    right: 40%;
font-family: 'Sofia Pro';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 15px;
cursor: pointer;
color: #021434;
    
    background: rgba(230, 232, 235, 0.5);
}
.week-container:hover {
    background: rgba(0, 176, 240, 0.15);
font-family: 'Sofia Pro';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 15px;

color: #00B0F0;
}
.month-container{
    position: absolute;
    height: 40px;
    left: 60%;
    right: 22.67%;
font-family: 'Sofia Pro';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 15px;
cursor: pointer;
color: #021434;
    
    background: rgba(230, 232, 235, 0.5);
}
.month-container:hover {
    background: rgba(0, 176, 240, 0.15);
font-family: 'Sofia Pro';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 15px;

color: #00B0F0;
}
.year-container{
    /* hover over */
    
    
    position: absolute;
    height: 40px;
    left: 77.33%;
    right: 5.33%;
font-family: 'Sofia Pro';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 15px;
cursor: pointer;
color: #021434;
    
    background: rgba(230, 232, 235, 0.5);
}
.year-container:hover {
    background: rgba(0, 176, 240, 0.15);
font-family: 'Sofia Pro';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 15px;

color: #00B0F0;
}


.indicator-container{
    /* Rectangle 388 */
    
    
    position: absolute;
    
    width: 365px;
    height: 70px;
    left: 0px;
    top: 184px;
    
    background: rgba(255, 22, 44, 0.1);
}
.indicator-container p{
    /* 27 */
    
    
    position: absolute;
    width: 30px;
    height: 32px;
    left: 185px;
    top: -15px;
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 32px;
    /* identical to box height, or 119% */
    
    
    /* true black */
    
    color: #000000;
}
.right{
/* Vector */


position: absolute;
left: 88.16%;
right: 16.66%;
top: 25px;
bottom: 0%;


}
.left{
    position: absolute;
    left: 19.16%;
    right: -41.66%;
    top: 25px;
    bottom: -100%;
    
   
    transform: rotate(180deg);
}
.indicator{
    /* Vector */
    
    
    position: absolute;
    left: 230px;
    right: 0%;
    top: 32.33%;
    bottom: 8.33%;
}
.date-indicator{
    /* Oct 15th - Oct 21st 2022 */
    
    
    position: absolute;
    width: 138px;
    height: 23px;
    left: 125px;
    top: 232px;
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    /* identical to box height, or 177% */
    
    
    color: rgba(0, 0, 0, 0.5);
}
.indicator-text{
/* Rectangle 390 */


position: absolute;
width: 365px;
height: 80px;
left: 0px;
top: 254px;


}
.indicator-text p{
    position: absolute;
    width: 316px;
    height: 42px;
    top: 20px;
    left:38px;
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    /* or 164% */
    
    letter-spacing: 0.02em;
    
    color: #000000;
}
.indicator-text span{
        color:orangered;
        font-weight: 700;
}
.graph-container{
    /* Rectangle 387 */
    
    
    position: absolute;
    width: 366px;
    height: 265px;
    left: 0px;
    top: 334px;
    
    background: rgba(255, 22, 44, 0.1);
}
.button{
    /* Rectangle 217 */
    
    
    position: absolute;
    width: 130px;
    height: 35px;
    left: 216px;
    top: 625px;
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    background:#021434;
    border-radius: 1px;
}
.button:hover{
background:#052766;
}