.DataIngested-container{
    /* Data Ingested=True */
    
    
    position: absolute;
    width: 567px;
    height: 318px;
    left: 20px;
    top: 20px;
}
.illustration-true{
    /* Illustration */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 75px;
    
    position: absolute;
    width: 283px;
    height: 318px;
    left: 0px;
    top: calc(50% - 318px/2);
}
.icon-container{
/* Frame 49 */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 0px 35px;

position: absolute;
width: 244px;
height: 86px;
left: 57px;
top: 116px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 13px 0px;
}
.icon{
    /* Icon */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px;
    
    position: static;
    width: 86px;
    height: 86px;
    left: 35px;
    top: 0px;
    
    /* invicta/sys/primary */
    
    background: #00B0F0;
    border-radius: 2px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 13px 0px;
}
.description-container{
    /* Description */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 10px;
    
    position: absolute;
    width: 284px;
    height: 315px;
    right: 0px;
    top: calc(50% - 315px/2 - 1.5px);
}
.description-bold-text{
    /* stack name */
    
    
    position: static;
    width: 241px;
    height: 28px;
    left: 10px;
    top: 123.5px;
    
    /* title/large */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 127% */
    
    
    /* invicta/sys/on-surface */
    
    color: #1C1B1E;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.description-text{
    /* job to be done of the stack, in present tense */
    
    
    position: static;
    width: 235px;
    height: 40px;
    left: 10px;
    top: 151.5px;
    
    /* body/medium */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    letter-spacing: 0.25px;
    
    /* invicta/sys/on-surface */
    
    color: #1C1B1E;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}
.description-false-link{
    /* Link */
    
    
    position: static;
    width: 257px;
    height: 25px;
    left: 10px;
    top: 179px;
    
    /* body/medium */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    letter-spacing: 0.25px;
    
    /* invicta/primary/Primary30 */
    
    color: #127FC0;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;
}
.illustration-false{
    /* Illustration */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 75px;
    
    position: absolute;
    width: 283px;
    height: 318px;
    left: 0px;
    top: calc(50% - 318px/2);
}
.description-false-container{
    /* Description */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 10px;
    
    position: absolute;
    width: 284px;
    height: 315px;
    right: 0px;
    top: calc(50% - 315px/2 - 1.5px);
}
.description-false-bold-text{
    /* stack name */
    
    
    position: static;
    width: 241px;
    height: 28px;
    left: 10px;
    top: 111px;
    
    /* title/large */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 127% */
    
    
    /* invicta/sys/on-surface */
    
    color: #1C1B1E;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.description-false-text{
    position: static;
    width: 235px;
    height: 40px;
    left: 10px;
    top: 139px;
    
    /* body/medium */
    
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    letter-spacing: 0.25px;
    
    /* invicta/sys/on-surface */
    
    color: #1C1B1E;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}